.recipeList{
    display:flex;
    gap: 15px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.recipeImage{
    height:40%;
    width:100%;
}

.recipeHeader{
    margin-bottom: 20px;
}

.detailsDialog{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

body::-webkit-scrollbar{
    display: none;
}

@media screen and (max-width: 1180px) {
    .dialogImg{
        height: 70% !important;
        width: 80% !important;
        margin: 10px auto !important;
        display: block !important;
    }
    .detalsDiv {
        display: block !important;
        margin: -18% 0% 0% 0% !important;
    }
    
}

@media screen and (max-width: 930px) {
    .ingridientsDiv{
        display: block !important;
        margin: auto !important;
        width: auto !important;
    }
    
}